In [46]:
import pandas as pd
emails = pd.read_csv('/Users/adheeshphadnis/Downloads/emails.csv')

In [2]:
def parse_raw_message(raw_message):
    lines = raw_message.split('\n')
    email = {}
    message = ''
    keys_to_extract = ['from', 'to']
    for line in lines:
        if ':' not in line:
            message += line.strip()
            email['body'] = message
        else:
            pairs = line.split(':')
            key = pairs[0].lower()
            val = pairs[1].strip()
            if key in keys_to_extract:
                email[key] = val
    return email

In [3]:
def parse_into_emails(messages):
    emails = [parse_raw_message(message) for message in messages]
    return {
        'body': map_to_list(emails, 'body'),
        'to': map_to_list(emails, 'to'),
        'from_': map_to_list(emails, 'from')
    }

In [4]:
def map_to_list(emails, key):
    results = []
    for email in emails:
        if key not in email:
            results.append('')
        else:
            results.append(email[key])
    return results

In [47]:
email_df = pd.DataFrame(parse_into_emails(emails.message))
print(email_df.head())

                                                body                       to  \
0                               Here is our forecast     tim.belden@enron.com
1  Traveling to have a business meeting takes the...  john.lavorato@enron.com
2                     test successful.  way to go!!!   leah.arsdall@enron.com
3  Randy,Can you send me a schedule of the salary...    randall.gay@enron.com
4                                                        greg.piper@enron.com

                     from_
0  phillip.allen@enron.com
1  phillip.allen@enron.com
2  phillip.allen@enron.com
3  phillip.allen@enron.com
4  phillip.allen@enron.com

In [ ]:
import re

In [48]:
list_of_key_people = ['kenneth', 'skilling', 'fervert', 'whalley', 'mcmohan', 'fastow', 'bennet']
ind = []
for i in list_of_key_people:
    for email in range(len(email_df)):
        index = email_df.body[email].find(i) 
        if index != -1:
            ind.append(email)
            e = '\S*@\S*\s?'
            pattern = re.compile(e)
            email_df.body[email] = pattern.sub('', email_df.body[email])

In [49]:
len(ind)

9006

In [50]:
email_df_subset = email_df.iloc[ind]
email_df_subset

,body,to,from_
1587,plan to attend the Quarterly Managing Director...,"jeff.messina@enron.com, k..allen@enron.com, sa...",joannie.williamson@enron.com
3962,"for 12/8/2000 is (158)Drop down Box to ""Storag...","phillip.allen@enron.com, john.arnold@enron.com...",kenny.soignet@enron.com
4023,see the following instructions for the new mes...,"tom.donohoe@enron.com, kelli.stevens@enron.com...",ina.rangel@enron.com
5755,see the following instructions for the new mes...,"tom.donohoe@enron.com, kelli.stevens@enron.com...",ina.rangel@enron.com
5797,"for 12/8/2000 is (158)Drop down Box to ""Storag...","phillip.allen@enron.com, john.arnold@enron.com...",kenny.soignet@enron.com
...,...,...,...
513584,trading tonezone to Enron Center South. As you...,"rudy.acevedo@enron.com, dipak.agarwalla@enron....",technology.enron@enron.com
514482,"e-mail <kyle.>, company is changing my e-mail ...","d.wimberly@computer.org, alice.wimberly@cfisd....",jane.burnap@intermat.com
514738,friendly reminder for your support for the Ame...,"billie.akhave@enron.com, dennis.alters@enron.c...","Dhruv, Tushar"
514779,is a friendly reminder for your support for th...,"billie.akhave@enron.com, dennis.alters@enron.c...","Dhruv, Tushar"
515495,"Dear Mr. Zipper,Please find attached a copy of...",andy.zipper@enron.com,jackson@bennettjones.ca

In [51]:
email_df_subset = email_df_subset.reset_index()

In [52]:
email_df_subset

,index,body,to,from_
0,1587,plan to attend the Quarterly Managing Director...,"jeff.messina@enron.com, k..allen@enron.com, sa...",joannie.williamson@enron.com
1,3962,"for 12/8/2000 is (158)Drop down Box to ""Storag...","phillip.allen@enron.com, john.arnold@enron.com...",kenny.soignet@enron.com
2,4023,see the following instructions for the new mes...,"tom.donohoe@enron.com, kelli.stevens@enron.com...",ina.rangel@enron.com
3,5755,see the following instructions for the new mes...,"tom.donohoe@enron.com, kelli.stevens@enron.com...",ina.rangel@enron.com
4,5797,"for 12/8/2000 is (158)Drop down Box to ""Storag...","phillip.allen@enron.com, john.arnold@enron.com...",kenny.soignet@enron.com
...,...,...,...,...
9001,513584,trading tonezone to Enron Center South. As you...,"rudy.acevedo@enron.com, dipak.agarwalla@enron....",technology.enron@enron.com
9002,514482,"e-mail <kyle.>, company is changing my e-mail ...","d.wimberly@computer.org, alice.wimberly@cfisd....",jane.burnap@intermat.com
9003,514738,friendly reminder for your support for the Ame...,"billie.akhave@enron.com, dennis.alters@enron.c...","Dhruv, Tushar"
9004,514779,is a friendly reminder for your support for th...,"billie.akhave@enron.com, dennis.alters@enron.c...","Dhruv, Tushar"
9005,515495,"Dear Mr. Zipper,Please find attached a copy of...",andy.zipper@enron.com,jackson@bennettjones.ca

In [53]:
email_df_subset.to_csv('data.csv')